.logo {
    margin: 10px;
}

section {
    padding: 10px 50px;
}

.box {
    background-color: #8FC1E3;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
}


.picture {
    width: 75%;
}

.aPicture {
    height: 100%;
    width: 75%;
}

@media (min-width: 800px) {
    .box {
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media (min-width: 1000px) {
    .box {
        margin-left: 20%;
        margin-right: 20%;
    }
}

li ~ p {
    font-size: 22px;
}
.dropdown{
    position: relative;
    display:inline-block;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    left: -100px;
    width: 200px;
    align-items:start;
    border-radius: 20px;
}
.dropdown-content a:hover{
    opacity: 0.8;
    cursor: pointer;
}
