.login{
    background-color:antiquewhite;
    text-align: center;
    padding: 10px;
    width: 300px;
    border-radius: 10%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 40px;
}
#create, #forget{
    color: rgb(95, 95, 221);
    text-decoration: none;
}


#forget:hover, #create:hover{
    text-decoration: underline;
}
.form{
    padding: 5px, 5px,5px,500px;
}

/*descendant selector*/
.form .input{ 
    margin: 5px;
    padding: 10px;
    border-radius: 0;
    border: none;
    width: 100px;
}
.login_nupp{
    background-color: skyblue;
    width: 70px;
    height: 30px;
    color: black;
    margin: 10px;
    border: none;
}
.login_nupp:hover{
    opacity: 0.9;
    cursor:pointer;
}

